/* coron.keymap */

#include <dt-bindings/zmk/input_transform.h>
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    scroll-layers = <3 7>;
    snipe-layers = <2>;
};

/ {
    combos {
        compatible = "zmk,combos";

        /* Note: Key positions have shifted due to added columns.
           You will need to recalculate these indices later. */

        to_mac_system {
            bindings = <&mo 5>;
            key-positions = <45 46>;
            layers = <0>;
        };

        to_win_system {
            bindings = <&mo 6>;
            key-positions = <45 46>;
            layers = <1>;
        };

        click {
            bindings = <&mkp MB1>;
            key-positions = <22 23>;
        };

        right_click {
            bindings = <&mkp MB2>;
            key-positions = <36 37>;
        };

        mid_click {
            bindings = <&mkp MB3>;
            key-positions = <9 8>;
        };

        mac_virtual_desk1 {
            bindings = <&kp LC(RIGHT)>;
            key-positions = <6 7>;
            layers = <0>;
        };

        mac_virtual_desktop2 {
            bindings = <&kp LC(LEFT)>;
            key-positions = <4 5>;
            layers = <0>;
        };

        win_virtual_desktop1 {
            bindings = <&kp LC(LG(RIGHT))>;
            key-positions = <6 7>;
            layers = <1>;
        };

        win_virtual_desktop2 {
            bindings = <&kp LC(LG(LEFT))>;
            key-positions = <5 4>;
            layers = <1>;
        };

        to_scroll {
            bindings = <&mo 7>;
            key-positions = <23 24>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        mt2: mod_tap2 {
            compatible = "zmk,behavior-hold-tap";
            label = "mt2";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
        };

        hold_mt: hold_mt {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_MT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mac_default {
            bindings = <
&none  &kp Q                      &kp W  &kp E  &kp R       &kp T        &kp Y              &kp U                         &kp I                   &kp O                &kp P      &none
&none  &mt2 LEFT_CONTROL A        &kp S  &kp D  &kp F       &kp G        &kp F11            &kp LC(DOWN)                  &kp H                   &kp J                &kp K      &kp L    &mt2 RIGHT_CONTROL SEMI  &none
&none  &mt LEFT_SHIFT Z           &kp X  &kp C  &kp V       &kp B        &mkp MB1           &kp LC(UP_ARROW)              &kp N                   &kp M                &kp COMMA  &kp DOT  &lt 2 SLASH              &none
&none  &mt2 RIGHT_ALT LANGUAGE_1  &none  &none  &kp ESCAPE  &lt 3 SPACE  &mt2 LEFT_GUI TAB  &hold_mt RIGHT_GUI BACKSPACE  &mt2 RIGHT_SHIFT ENTER  &mt2 LEFT_ALT LANG2  &none
            >;

            sensor-bindings = <&inc_dec_kp LC(RIGHT) LC(LEFT)>;
            label = "mDefault";
        };

        win_default {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                     &trans                   &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &kp LG(D)                  &kp LC(LA(TAB))          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                     &kp LG(TAB)              &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &hold_mt LEFT_CONTROL TAB  &mt2 LEFT_GUI BACKSPACE  &trans  &trans  &trans
            >;

            label = "wDefault";
            sensor-bindings = <&inc_dec_kp LG(LC(RIGHT)) LG(LC(LEFT))>;
        };

        numbers {
            bindings = <
&trans  &kp SLASH                   &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp MINUS  &none       &kp BACKSPACE  &kp DELETE             &kp TAB        &kp MINUS     &trans
&trans  &kp ASTERISK                &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PLUS   &kp C_MUTE  &kp LC(RIGHT)  &kp LEFT               &kp DOWN       &kp UP_ARROW  &kp RIGHT  &kp ENTER  &trans
&trans  &mt LEFT_SHIFT KP_NUMBER_0  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp EQUAL  &trans      &kp LC(LEFT)   &kp HOME               &kp PAGE_DOWN  &kp PG_UP     &kp END    &trans     &trans
&trans  &trans                      &trans           &trans           &kp SPACE        &lt 4 DOT  &trans      &trans         &mt2 RSHIFT LS(ENTER)  &trans         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        symbols {
            bindings = <
&none  &kp QUESTION               &kp DOUBLE_QUOTES  &kp EXCLAMATION  &kp BACKSPACE  &kp TILDE      &none          &kp UNDER      &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT       &none
&none  &kp AT                     &kp SINGLE_QUOTE   &kp DOLLAR       &kp DELETE     &kp SLASH      &kp LS(LG(S))  &kp MINUS      &kp HASH              &none                  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_CONTROL  &none
&none  &kp LEFT_SHIFT             &kp GRAVE          &kp CARET        &kp PIPE       &kp BACKSLASH  &mkp MB1       &kp SEMICOLON  &kp ASTERISK          &kp AMPS               &kp LEFT_BRACE    &kp RIGHT_BRACE    &mo 4             &none
&none  &mt2 RIGHT_ALT LANGUAGE_1  &none              &none            &none          &trans         &trans         &trans         &trans                &mt2 LEFT_ALT LANG2    &none
            >;

            sensor-bindings = <&inc_dec_kp PG_UP PAGE_DOWN>;
            label = "symbols";
        };

        func_navi {
            bindings = <
&trans  &none                   &kp F7  &kp F8  &kp F9  &kp F12  &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP    &msc SCRL_RIGHT  &none             &trans
&trans  &kp C_PP                &kp F4  &kp F5  &kp F6  &kp F11  &trans          &trans          &mmv MOVE_LEFT  &mmv MOVE_DOWN   &mmv MOVE_UP      &mmv MOVE_RIGHT  &trans  &trans
&trans  &mt2 LEFT_SHIFT C_STOP  &kp F1  &kp F2  &kp F3  &kp F10  &trans          &trans          &trans          &kp LEFT_GUI     &kp LEFT_CONTROL  &kp RIGHT_ALT    &trans  &trans
&trans  &trans                  &trans  &trans  &trans  &trans   &trans          &mkp MB1        &mkp MB2        &trans           &trans
            >;
        };

        mac_bt_shortcuts {
            bindings = <
&trans  &sys_reset           &bootloader   &kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LG(LS(N5))    &none   &to 0   &to 1   &bootloader  &sys_reset  &trans
&trans  &trans               &bt BT_SEL 4  &out OUT_TOG          &none                 &kp LEFT_CONTROL  &trans  &trans  &trans  &trans       &trans      &bt BT_CLR  &bt BT_CLR_ALL  &none
&trans  &bt BT_SEL 0         &bt BT_SEL 1  &bt BT_SEL 2          &bt BT_SEL 3          &none             &trans  &trans  &none   &trans       &trans      &trans      &trans          &none
&trans  &kp LG(LA(C_POWER))  &trans        &trans                &trans                &trans            &trans  &trans  &trans  &trans       &none
            >;

            label = "system_layer";
            sensor-bindings = <&inc_dec_kp LG(EQUAL) LG(MINUS)>;
        };

        win_bt_shortcuts {
            bindings = <
&trans  &sys_reset    &bootloader   &kp LG(PRINTSCREEN)  &kp LS(LG(S))  &kp LG(LS(S))  &none   &to 0   &to 1   &bootloader  &sys_reset  &trans
&trans  &trans        &bt BT_SEL 4  &out OUT_TOG         &none          &kp LG(H)      &trans  &trans  &trans  &trans       &trans      &bt BT_CLR  &bt BT_CLR_ALL  &none
&trans  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2         &bt BT_SEL 3   &none          &trans  &trans  &none   &trans       &trans      &trans      &trans          &none
&trans  &kp LG(L)     &trans        &trans               &trans         &trans         &trans  &trans  &trans  &trans       &none
            >;

            label = "system_laye";
            sensor-bindings = <&inc_dec_kp LC(EQUAL) LC(MINUS)>;
        };

        scroll {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
